* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.services-section {
  background: white;
  text-align: center;
}

.services-section h1 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #1f2937;

}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  max-width: 1200px;
  margin: auto;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  padding: 25px 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card img {
  width: 90px;
  height: auto;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #111827;
}

.service-card p {
  font-size: 14px;
  color: #6b7280;
}

/* packages */

.packages-frame {
  width: 100%;
  height: 1600px;
  border: none;
  display: block;
}

/* rating  */
.rate {
  color: yellow;
}
