* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.text-choose-category {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 15px;
}

.services-section {
  text-align: center;
}

.services-section h1 {
  font-size: 30px;
  margin-bottom: 15px;
  color: #1f2937;

}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1300px;
  margin: auto;
}

.service-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-8px);
}

.service-card img {
  width: 100px;
  height: 120px;
  object-fit: contain;

}

.service-card h3 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #111827;
}

.service-card p {
  font-size: 14px;
  color: black;
}
.service-card {
  padding-bottom: 25px;
  margin-top: 10px;
}

/* packages */

.packages-frame {
  width: 100%;
  height: 1600px;
  border: none;
  display: block;
}

/* rating  */
.rate {
  color: yellow;
}


/* chose wedding service category */
.text-choose-category {
  padding-top: 0px;
  margin-top: 0px;
 
}

.services-section {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* hilight */
.hilight-star {
  color: rgb(255, 153, 0);


}
.hilight-number {
  color: blue;

}
